<h3>Sign in</h3>

<form action="/admin" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" id="username" name="username" placeholder="Enter your username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" id="password" name="password" placeholder="Enter your password" required>

    <button type="submit" value="Login" class="btn">Sign In</button>
</form>