<div class="author">
  <h1 class="author__heading">Hello, i'm Andrew.</h1>
  <p class="author__body">Web developer.</p>
</div>

<img class="hero_image" src="img/catcoffecup.jpg" alt="cat with coffe cup" width="500" height="500">

<section class="article">
    <h2 class="article__heading">Latest posts</h2>

    <ul class="article-list">
        <% data.forEach(element => { %>
            <li>
                <a href="#">
                    <span><%= element.title %></span>
                    <span class="article-list__date"><%= element.createdAt.toLocaleDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>

    <a href="#" class="pagination">&lt; Previous</a>
</section>